<h1>Search by name:</h1>
<%= form_tag "/users/search", method: "get" do %>
  <%= text_field_tag :name %>
  <br>
  <br>
  <%= submit_tag "Search" %>
<% end %>
<br>
<br>
<% @results.each do |result| %>
  <%= image_tag(result.photo_url)  %>
  <%= link_to(result.name, "/users/#{result.id}") %>
<% end %>

