
<h1><%= @user.name %></h1><br>
<img src=<%= @user.fb_photo_large %> alt=""><br>
<table>
  <tr>
    <td class="attr">Gender:</td>
    <td><%= @user.gender %></td>
  </tr>
  <tr>
    <td class="attr">Sexuality:</td>
    <td><%= @user.sexuality %></td>
  </tr>
  <tr>
    <td class="attr">Niches:</td>
    <td> <%= @user.niche %></td>
  </tr>
</table>

<br>
<% if @user.id != session[:user_id] %>
<h2>Mutual friends:</h2>
  <% if @mutual == [] %>
    <p>Uh oh! You two have no friends in common</p>
  <% else %>
    <% @mutual.each do |friend| %>
      <%= friend["name"] %><br>
    <% end %>
  <% end %>
<% end %>
<% if params[:id] == session[:user_id].to_s %>
<strong><%= link_to("Edit Profile", "/users/#{@user.id}/edit") %></strong>
<% end %>
