
<h1><%= @user.name %></h1><br>
<img src=<%= @user.fb_photo_large %> alt=""><br>
gender: <%= @user.gender %><br>
sexuality: <%= @user.sexuality %><br>
<br>
<% if @user.id != session[:user_id] %>
<h2>Mutual friends:</h2>
  <% if @mutual == [] %>
    <p>Uh oh! You two have no friends in common</p>
  <% else %>
    <% @mutual.each do |friend| %>
      <%= friend["name"] %><br>
    <% end %>
  <% end %>
<% end %>
<% if params[:id] == session[:user_id].to_s %>
<%= link_to("edit profile", "/users/#{@user.id}/edit") %>
<% end %>
