
<h1><%= @user.name %></h1><br>
<img src=<%= @user.fb_photo_large %> alt=""><br>
<table>
  <tr>
    <td class="attr">Gender:</td>
    <td><%= @user.gender %></td>
  </tr>
  <tr>
    <td class="attr">Sexuality:</td>
    <td><%= @user.sexuality %></td>
  </tr>
  <tr>
    <td class="attr">Niches:</td>
    <td> <%= @user.niche %></td>
  </tr>
</table>

<br>
<h2>Flags:</h2>
<% @flags.each do |flag| %>
  <% if flag[:positive] %>
    <div class="positive">
      <%= flag[:message] %>
    </div>
  <% elsif flag[:positive] == false %>
     <div class="negative">
       <%= flag[:message] %>
     </div>
  <% else %>
    <div class="neutral">
      <%= flag[:message] %>
    </div>
  <% end %>
  (<%= flag[:familiarity] %> mutual friends with <%= @user.name %>) <br>
<% end %>
<%= link_to("Flag this user", new_user_flag_path(@user)) %><br>

<% if @mutual %>
  <h2>Mutual friends:</h2>
  <% if @mutual == [] %>
    <p>Uh oh! You two have no friends in common</p>
  <% else %>
    <% @mutual.each do |friend| %>
      <%= friend["name"] %><br>
    <% end %>
  <% end %>
  <br>
  <h2>Mutual groups:</h2>
  <% if @groups == [] %>
    <p>Uh oh! You two have no groups in common</p>
  <% else %>
    <% @groups.each do |group| %>
      <%= group["name"] %><br>
    <% end %>
  <% end %>
<% end %>
<br>
<% if params[:id] == session[:user_id].to_s %>
<strong><%= link_to("Edit Profile", "/users/#{@user.id}/edit") %></strong>
<% end %>
