<!DOCTYPE html>
<html>
<head>
  <title>Qnq</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Queers Know Queers</h1>
      <h2>Connecting the dots</h2>
    </div>
    <div class="nav">
      <ul>
       <% if current_user %>
       <li>Signed in as <strong><%= current_user.name %></strong></li>
       <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
       <li><%= link_to("Search", "/users/search") %></li>
       <li><%= link_to("Your Profile", "/users/#{session[:user_id]}") %></li>
       <% end %>
     </ul>
   </div>
   <div class="main">
    <% if session[:user_id] != nil %>
    <%= yield %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <% else %>
    <br>
    <br>
    <br>
    <h1><%= link_to("Sign in with Facebook", "/auth/facebook") %></h1>
    <br>
    <br>
    <br>
    <% end %>
  </div>
</div>
</body>
</html>
