<!DOCTYPE html>
<style>
.nav li {
  text-align: center;
  display: inline-block;
  width: 24%;
}
.main {
  text-align: center;
  max-width: 50%;
  margin: auto;
}
</style>
<html>
<head>
  <title>Qnq</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav">
    <ul>
     <% if current_user %>
     <li>Signed in as <strong><%= current_user.name %></strong>!</li>
     <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
     <li><%= link_to("Search", "/users/search") %></li>
     <li><%= link_to("Your Profile", "/users/#{session[:user_id]}") %></li>
     <% end %>
   </ul>
 </div>
 <div class="main">
  <% if session[:user_id] != nil %>
    <%= yield %>
  <% else %>
    <h1><%= link_to("Sign in with facebook", "/auth/facebook") %></h1>
  <% end %>
</div>
</body>
</html>
